#banner {
	background: url('../img/hdr-news.jpg') no-repeat;
	background-color: #7f7c73;
	background-position: right;
}

#logo {
	background: url('http://www.gnome.org/img/logo/text-64') no-repeat;
}

div.person-info {
	float: right;
	background: none;
	left: 0;
	width: auto;
	margin: 1em;
}

div.post {
	margin-left: 0;
}
