<?xml version="1.0" encoding="UTF-8" ?>
<GoogleCustomizations>
	<CustomSearchEngine Title="<TMPL_VAR name>" Description="<TMPL_VAR name>">
		<Context>
			<BackgroundLabels>
				<Label name="_cse_feed" mode="FILTER" />
			</BackgroundLabels>
		</Context>
	</CustomSearchEngine>
	<Annotations>
<TMPL_LOOP Channels>
		<Annotation about="<TMPL_VAR link ESCAPE="HTML">*">
			<Label name="_cse_feed" />
		</Annotation>
</TMPL_LOOP>
	</Annotations>
</GoogleCustomizations>
