<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<title><TMPL_VAR name></title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="shortcut icon" type="image/png" href="http://planet.gnome.org/img/gnome-16.png">
	<link rel="alternate" type="application/atom+xml" title="Planet GNOME Atom 1.0" href="http://planeta.gnome.cl/atom.xml">
	<link rel="alternate" type="application/rss+xml" title="Planet GNOME RSS 2.0" href="http://planeta.gnome.cl/rss20.xml">

	<link rel="stylesheet" href="http://planet.gnome.org/nlayout.css" type="text/css">
	<link rel="stylesheet" href="http://planet.gnome.org/planet.css" type="text/css">
	<link rel="stylesheet" href="http://planet.gnome.org/generic.css" type="text/css">
	<link rel="stylesheet" href="http://blogs.gnome.org/wp-content/mu-plugins/bug-links/bug-links.css" type="text/css">

	<style rel="stylesheet" type="text/css">
	#global_domain_bar
	{
    background: none repeat scroll 0 0 #FFFFFF;
    height: 10px;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    color: #2E3436;
    font-family: Cantarell,'Droid Sans',Ubuntu,'DejaVu Sans',Arial,sans-serif;
    font-size: 14px;
    line-height: 1.7em;
	}

	#global_domain_bar a
	{
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px 5px 5px 5px;
		background: url("http://planet.gnome.org/img/30/favicon.png") no-repeat scroll 8px 7px #FFFFFF;
		color: #555753;
		float: right;
		font-size: 12px;
		margin-right: 30px;
		padding: 4px 12px 2px 26px;
		text-decoration: none;
		line-height: 1.7em;
	}
	
	#page
	{
		background: url("http://planet.gnome.org/img/30/html-bg.png") repeat-x scroll center top #FFFFFF;
		font-family: Cantarell,'Droid Sans',Ubuntu,'DejaVu Sans',Arial,sans-serif;
	}
	
		
	a
	{ 
		color: #0489B7;
	}
	
	#global_domain_bar div {
		max-width: 940px;
		margin: 0 auto;
	}
	
	div.post-contents
	{
		background: white;
	}
	
	.post-title a
	{
		color: #0489B7;
		font-weight: bold;
	}
	
	#footer, #feeds
	{
    background: none repeat scroll 0 0 #D3D7CF;
    color: #555753;
	}
	
	#footer a
	{
    color: inherit;
	}
	
	#footer-grass
	{
    background: url("http://planet.gnome.org/img/30/grass.png") repeat-x scroll center top transparent;
    height: 39px;
    margin-top: -33px;
	}
	
	#footer-art
	{
		margin-left: auto;
		margin-right: auto;
		clear: left;
		height: 180px;
		margin-top: 0;
		width: 940px;
		background-image: url("http://planet.gnome.org/img/30/default.png");
	}
	
	#planet-banner
	{
    margin-left: auto;
    margin-right: auto;
    clear: left;
    margin-top: 0;
    width: 65em;
    padding: 0 1em;
	}
	
	
	#planet-subtitle
	{
		color: #555753;
		font-size: 100%;
		font-weight: bold;
		margin: 0;
		padding 0;
		padding-top: 14px;
	}
	
	#planet-logo
	{
		vertical-align: middle;
		padding-bottom: 25px;
		margin-left:    26px;
		padding-right:  50px;
	}
	
	.post
	{
		color: #555753;
		line-height: 1.6;
	}
	</style>



	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
	<script type="text/javascript" src="http://planet.gnome.org/jquery.cookie.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
	<script type="text/javascript" src="http://planet.gnome.org/jquery.lazyload.min.js"></script>
	<script type="text/javascript"><!-- $(function(){ $('.post img').lazyload(); }); --></script>
	<script type="text/javascript">
	function toggleFeeds() {
		$("#feedlist").slideToggle(function() {
			$("#feeds h3").toggleClass("open");
		});
	}
	$(document).ready(function() {
		var hidden = $.cookie("hidden") ? $.cookie("hidden").split(",") : new Array();
		// hide posts by disabled folks
		if (hidden.length > 0) for (i in hidden) {
			$("div." + hidden[i]).hide();
		}
		$("#feeds h3 a").click(function(e) {
			e.preventDefault();
			if ($("#feedlist ul").length == 0) {
				$("#feedlist").load('feeds.html', '', function(r,t,x) {
					$('<input type="checkbox" checked>')
						.change(function() {
							var nick = $(this).parent().attr("class");
							var i = $.inArray(nick, hidden);
							if ($(this).attr("checked")) {
								if (hidden[i]) hidden.splice(i, 1);
								$("div." + nick).show();
							} else {
								if (!hidden[i]) hidden[hidden.length] = nick;
								$("div." + nick).hide();
							}
							$.cookie("hidden", hidden.join(","),
								{expires: 365});
						})
						.prependTo("#feedlist ul li");
					// remove checks from disabled folks
					for (i in hidden) {
						$("#feedlist ul li." + hidden[i] + " input")
							.removeAttr("checked");
					}
					toggleFeeds();
				});
			} else {
				toggleFeeds();
			}
		});
	});
	</script>
</head>

<body>
<div id="page">


	<div id="global_domain_bar">
		<div>
			<a href="http://www.gnome.org"><strong>GNOME</strong>.ORG</a>
		</div>
  </div>

	<div id="planet-banner">
		<p id="planet-subtitle">
			<img id="planet-logo" src="http://planet.gnome.org/img/30/planet-logo.png"  alt="Planeta GNOME Chile" title="Planeta GNOME Chile"/>
			24 horas al día, 7 días a la semana, 365 días al año<span title="Yeah, yeah... 366 days per leap year :-)" style="cursor: pointer;">*</span>, esto es Planeta GNOME Chile
		</p>
	</div>

<div id="content">

<TMPL_IF banner_message>
<div class="banner"><TMPL_VAR banner_message></div>
</TMPL_IF>

<TMPL_LOOP Items>

<TMPL_IF new_date>
<h2 class="date"><TMPL_VAR new_date></h2>
</TMPL_IF>

<div class="entry<TMPL_IF channel_nick> <TMPL_VAR channel_nick></TMPL_IF>">

<div class="person-info">
<a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_IF channel_face><img class="face" src="<TMPL_VAR channel_face ESCAPE="HTML">" alt=""><br><TMPL_ELSE><img class="face" src="http://planet.gnome.org/heads/nobody.png" alt=""><br></TMPL_IF><TMPL_VAR channel_name><TMPL_IF channel_real><br><TMPL_VAR channel_real></TMPL_IF><TMPL_IF channel_nick><br>(<TMPL_VAR channel_nick>)</TMPL_IF></a>
<TMPL_IF channel_gsoc2008><p><a href="http://www.gnome.org/projects/soc/" title="Google Summer of Code 2008"><img src="http://planet.gnome.org/heads/logos/gsoc2008.png" alt="GSoC 2008" /></a></p></TMPL_IF>
</div>

<div class="post">

<div class="post-header">
<TMPL_IF title><h3 class="post-title"><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h3></TMPL_IF>
</div> <!-- /post-header -->

<div class="post-contents">
<TMPL_VAR content>
</div> <!-- /post-contents -->

<div class="post-footer">
<p><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR date></a></p>
</div> <!-- /post-footer -->

<b class="vt lt"></b><b class="vt rt"></b><b class="hz to"></b><b class="hz bo"></b>
<b class="cr tl"></b><b class="cr tr"></b><b class="cr bl"></b><b class="cr br"></b>

</div> <!-- /post -->

</div> <!-- /entry -->

</TMPL_LOOP>

</div> <!-- /content -->

<div id="footer-art"> &nbsp; </div>
<div id="footer-grass"> &nbsp; </div>

<div id="feeds">
	<h3><a href="feeds.html">Feeds</a></h3>
	<div id="feedlist"></div>
</div>

<div id="footer">

<div class="column">
<div class="section">
<h3>Planeta GNOME Chile</h3>
<p><b>Planeta GNOME Chile es una ventana al mundo, trabajo y vidas de la <a href="http://www.gnome.cl">Comunidad GNOME en Chile</a>.</b></p>

<p>Brought to you by the <a href="http://www.planetplanet.org/">Planet</a> aggregator, cron, <a href="http://www.python.org/">Python</a>, <a href="http://www.redhat.com/">Red Hat</a> (who kindly host the GNOME servers). Design by <a href="http://vinicius.depizzol.com.br/blog/">Vinicius Depizzol</a> and <a href="http://aruiz.typepad.com">Alberto Ruiz</a>, inspired by earlier work from <a href="http://bethesignal.org/">Jeff Waugh</a>, <a href="http://www.actsofvolition.com/">Steven Garrity</a>, <a href="http://www.gnome.org/~seth/">Seth Nickell</a> and <a href="http://www.isity.net/">Diana Fong</a>.</p>

<p>Planeta GNOME Chile es mantenido por <a href="mailto:pvillavi at gnome dot org?Subject=planeta.gnome.cl">Pedro Villavicencio</a>, Envía un correo electrónico si tienes alguna duda o deseas que tu sitio sea agregado.</p>

<p>Actualizado el <TMPL_VAR date> UTC. Las entradas est&aacute;n normalizadas a tiempo UTC.</p>
</div>
</div>

<div class="column">
<div class="section">
<h3>GNOME en el Mundo</h3>
<p><a href="http://live.gnome.org/GnomeWorldWide"><img src="http://people.gnome.org/~jdub/random/GnomeWorldWideSmall.jpg" alt=""></a></p>
<p>Comunidades GNOME alrededor del Mundo:</p>
<ul>
  <li><a href="http://planet.gnome.org/">Internacional</a></li>
  <li><a href="http://www.gnomebangalore.org/?q=blog">Bangalore, India</a></li>
  <li><a href="http://br.gnome.org/">Brasil</a></li>
  <li><a href="http://gnome.cult.bg/">Bulgaria</a></li>
  <li><a href="http://planet.gnomefr.org/">Lengua Francesa</a></li>
  <li><a href="http://planet.gnome-ev.de/">Alemania</a></li>
  <li><a href="http://planet.gnome.gr/">Grecia</a></li>
  <li><a href="http://planeta.es.gnome.org/">GNOME Hispano</a></li>
  <li><a href="http://it.gnome.org/planet/">Italia</a></li>
  <li><a href="http://gnome.or.kr/pgk/">Corea</a></li>
  <li><a href="http://planet.nl.gnome.org/">Holanda</a></li>
  <li><a href="http://www.gnome.org.tr/">Turqu&iacute;a</a></li>
  <li><a href="http://www.uk.gnome.org/planet/">Reino Unido</a></li>
</ul>
</div>
</div>

<div id="fineprint" class="section">
<h3><img src="http://planet.gnome.org/img/30/gnome-logo.png" alt="GNOME" title="GNOME"></h3>
<p>Copyright © 2003-2011, <a href="http://www.gnome.org/">The GNOME Project</a>.<br>
<a href="http://validator.w3.org/check/referer">Optimised</a> for <a href="http://www.w3.org/">standards</a>.<br>
Hosted by <a href="http://www.redhat.com/">Red Hat</a>.</p>
<p id="ownership">Las entradas reunidas en esta p&aacute;gina pertenecen y representan la opini&oacute;n de
  su respectivo autor.</p>
</div> <!-- /fineprint -->

</div> <!-- /footer -->


</div> <!-- /page -->


</body>

</html>
